.cursor {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out, border-radius 0.2s ease-out;
  transform: translate(-50%, -50%) rotate(-45deg); 
  background-image: url('/images/cursor.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.text {
  /* width: 4px;
  height: 60px;
  border-radius: 2px; */
} 

.isak {
  background-color: #4371C6;
}

.savery {
  background-color: #FF3B30;
}

.solenergi {
  background-color: #FEC000;
}

.clicked {
  transform: translate(-50%, -50%) rotate(-65deg);
}